html {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    background-color: papayawhip;
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

h2 {
    margin: 0rem;
    padding: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding: 0;   
}

h5 {
    margin: 0;
    padding: 0; 
}

h6 {
    margin: 0;
    padding: 0; 
}

p {
    margin: 0;
    padding: 0; 
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    width: 80%;
    justify-content: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    background-color: white;
    height: 2rem;

}

.logo-container {
    flex-basis: 70%;
    display: flex;
    padding: 0 2rem;
    margin: 0;
    flex-shrink: 1;
}

.JDL-Software-Development-Logo {
    display: block;
    background-image: url('../img/navbar-icons/android-chrome-512x512.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.8rem;
    width: 1.8rem;
}

.JDL-Software-Development-Logo-Text {
padding: 0 0 0 0.5rem;
margin: 0;
align-self: center;
}

.navbar-ul {
    flex-basis: 30%;
    display: flex;
    padding: 0 2rem;
    margin: 0;
    justify-content: space-between;
    flex-shrink: 0;
}

.navbar-ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-self: center;

}

section {
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.section-heading {
margin-bottom: 0.5rem;
}

.About-Me-Text-And-Image {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.About-Me-Text {
    width: 60%;
    padding: 0;
}

.About-Me-Images-Container {
    display: flex;
    width: 35%;
    justify-content: space-between;
}

.What-I-Think-I-Look-Like-Text-And-Image {
display: flex;
flex-wrap: wrap;
width: 45%;
}

.What-I-Think-I-Look-Like-Text {
width: 100%;
padding: 0 0 0.5rem 0;
}

.What-I-Think-I-Look-Like-Image {
    background-image: url('../img/Me/res-mipmap/mipmap-xxxhdpi/Generic-Superhero-One.png');
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-size: contain;
    background-repeat: no-repeat;
}

.What-I-Actually-Look-Like-Text-And-Image {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    }

.What-I-Actually-Look-Like-Text {
    width: 100%;
    padding: 0 0 0.5rem 0;
}

.What-I-Actually-Look-Like-Image {
    background-image: url('../img/Actual-Me/res-mipmap/mipmap-xxxhdpi/Actual Me Anon.jpg');
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-size: contain;
    background-repeat: no-repeat;
}

.grids {
    justify-content: space-between;
    width: 100%;
}

.grids a {
    font-size: 1.4rem;
}

.Row-Of-Grids {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

.Project-Grid {
    display: grid;
    width: 45%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 20px 10px;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 1rem;
    border: solid 0.5rem black;

}

.project-picture-portrait {
    grid-row-start: 0;
    grid-row-end: span 4;
}

.Project-Grid li img {
    width: 100%;
    height: auto;
    background-size: contain;
}

.enlarged-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.enlarged-image-container {
    max-width: 90%; /* Adjust as needed */
    max-height: 90vh; /* Adjust as needed */
    transition: transform 0.6s ease;
}

.enlarged-image {
max-width: 90%;
max-height: 90vh;
}

.close-button {
    position:relative;
    bottom: -100000px;
    left: -100000px;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.skills-bar-ul {
    display: grid;
    list-style-type: none;
    grid-gap: 0.75rem 2rem;
    grid-template-columns: repeat(16, 6rem);
    grid-template-rows: 3rem 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    grid-auto-flow: column;
}   

.skills-bar-ul li {
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
}

.java {
    background-image: url('../img/Skills/java.png');
}

.javascript {
    background-image: url('../img/Skills/java-script.png');
}

.python {
    background-image: url('../img/Skills/python.png');
}

.html {
    background-image: url('../img/Skills/html-5.png');
}

.css {
    background-image: url('../img/Skills/social.png');
}

.github {
    background-image: url('../img/Skills/github.png');
}

.android {
    background-image: url('../img/Skills/android.png');
}

#Attributes {
    list-style: none;
    text-decoration: none;
    font-size: 0.75rem;
}

.sr-only {
    position: absolute;
    right: 10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


@media only screen and (max-width: 2559px) {

.project-picture-hidden {
display: none;
}

.project-picture-hidden-two {
    display: none;
    }

.Project-Grid {
    display: grid;
    width: 45%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-gap: 20px 10px;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 1rem;
    border: solid 0.25rem black;

}


}

@media only screen and (max-width: 1439px) {
    
body {
    width: 100%;
}

.navbar-container {
    width: 100%;
}

.logo-container {
    flex-basis: 60%;
}


.navbar-ul {
    flex-basis: 40%;
}

.skills-bar-ul {
    display: grid;
    list-style-type: none;
    grid-gap: 0.75rem 2rem;
    grid-template-columns: 6rem 6rem 6rem 6rem 6rem 6rem 6rem 6rem;
    grid-template-rows: 3rem 2.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    grid-auto-flow: column;
} 


}

@media only screen and (max-width: 1027px) {
    .logo-container {
        flex-basis: 55%;
    }


    .navbar-ul {
        flex-basis: 45%;
    }

    .About-Me-Images-Container {
        flex-wrap: wrap;
    }

    .What-I-Think-I-Look-Like-Text-And-Image {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    }
    
    .What-I-Think-I-Look-Like-Text {
    width: 100%;
    padding: 0 0 0.5rem 0;
    }
    
    .What-I-Think-I-Look-Like-Image {
        background-image: url('../img/Me/res-mipmap/mipmap-xxxhdpi/Generic-Superhero-One.png');
        width: 100%;
        height: auto;
        border-radius: 5%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .What-I-Actually-Look-Like-Text-And-Image {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        }
    
    .What-I-Actually-Look-Like-Text {
        width: 100%;
        padding: 0 0 0.5rem 0;
    }
    
    .What-I-Actually-Look-Like-Image {
        background-image: url('../img/Actual-Me/res-mipmap/mipmap-xxxhdpi/Actual Me Anon.jpg');
        width: 100%;
        height: 100%;
        border-radius: 5%;
        background-size: contain;
        background-repeat: no-repeat;
    }



}

@media only screen and (max-width: 880px) {

    .About-Me-Text-And-Image {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .About-Me-Text {
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }
    
    .About-Me-Images-Container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .What-I-Think-I-Look-Like-Text-And-Image {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 45%;
        }
    
    .What-I-Think-I-Look-Like-Text {
    flex-basis: 40%;
    padding: 0 0 0.5rem 0;
    }
    
    .What-I-Think-I-Look-Like-Image {
        background-image: url('../img/Me/res-mipmap/mipmap-xxxhdpi/Generic-Superhero-One.png');
        flex-basis: 50%;
        border-radius: 5%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .What-I-Actually-Look-Like-Text-And-Image {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 45%;
        }
    
    .What-I-Actually-Look-Like-Text {
        flex-basis: 40%;
        padding: 0 0 0.5rem 0;
    }
    
    .What-I-Actually-Look-Like-Image {
        background-image: url('../img/Actual-Me/res-mipmap/mipmap-xxxhdpi/Actual Me Anon.jpg');
        flex-basis: 50%;
        border-radius: 5%;
        background-size: contain;
        background-repeat: no-repeat;
    }

        .Project-Grid {
            display: grid;
            width: 45%;
            grid-template-columns: 1fr;
            grid-template-rows: 0.75fr 2fr;
            grid-gap: 20px 10px;
            list-style-type: none;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            padding: 1rem;
            border: solid 0.25rem black;
        
        }

    .skills-bar-ul {
        display: grid;
        list-style-type: none;
        grid-gap: 0.75rem 1.5rem;
        grid-template-columns: 6rem 6rem 6rem 6rem;
        grid-template-rows: 3rem 2.5rem 3rem 2.5rem;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        grid-auto-flow: column;
    } 

}


@media only screen and (max-width: 491px) {

    .navbar-container {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        background-color: white;
        height: 2rem;
    
    }
    
    .logo-container {
        flex-basis: 30%;
        display: flex;
        padding: 0 0.5rem;
        margin: 0;
    }
    
    .JDL-Software-Development-Logo-Text {
        display: none;
        }

    .navbar-ul {
        flex-basis: 70%;
        display: flex;
        padding: 0 0.5rem;
        margin: 0;
        justify-content: space-between;
    }
    
    .navbar-ul li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        align-self: center;
    
    }


    .Button-Image-Home {
        display: block;
        background-image: url('../img/navbar-icons/home.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 2rem;
        width: 2rem;
    }

    .Button-Text-Home {
        display: none;
    }

    .Button-Image-Contact {
        display: block;
        background-image: url('../img/navbar-icons/contact.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 2rem;
        width: 2rem;
    }

    .Button-Text-Contact {
        display: none;
    }

    .Button-Image-AboutMe {
        display: block;
        background-image: url('../img/navbar-icons/aboutme.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 2rem;
        width: 2rem;
    }

    .Button-Text-AboutMe {
        display: none;
    }

    .Button-Image-Projects {
        display: block;
        background-image: url('../img/navbar-icons/projects.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 2rem;
        width: 2rem;
    }

    .Button-Text-Projects {
        display: none;
    }

    .Button-Image-Skills {
        display: block;
        background-image: url('../img/navbar-icons/skills.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 2rem;
        width: 2rem;
    }

    .Button-Text-Skills {
        display: none;
    }
    
    .About-Me-Text-And-Image {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .About-Me-Text {
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }
    
    .About-Me-Images-Container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .What-I-Think-I-Look-Like-Text-And-Image {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row-reverse;
        }
    
    .What-I-Think-I-Look-Like-Text {
    flex-basis: 40%;
    padding: 0 0 2rem 0;
    }
    
    .What-I-Think-I-Look-Like-Image {
        background-image: url('../img/Me/res-mipmap/mipmap-xxxhdpi/Generic-Superhero-One.png');
        flex-basis: 60%;
        border-radius: 5%;
        background-size: contain;
        background-repeat: no-repeat;

    }
    
    .What-I-Actually-Look-Like-Text-And-Image {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row-reverse;
        }
    
    .What-I-Actually-Look-Like-Text {
        flex-basis: 40%;
        padding: 0 0 2rem 0;
    }
    
    .What-I-Actually-Look-Like-Image {
        background-image: url('../img/Actual-Me/res-mipmap/mipmap-xxxhdpi/Actual Me Anon.jpg');
        flex-basis: 60%;
        border-radius: 5%;
        background-size: contain;
        background-repeat: no-repeat;
    }




    .grids {
        justify-content: space-between;
        width: 100%;
    }
    
    .grids a {
        font-size: 1.4rem;
    }
    
    .Row-Of-Grids {
        display: flex;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 0rem;
        flex-direction: column;
        align-items: center;
    }

    .project-picture-hidden-three {
        display: none;
    }
    
    .Project-Grid {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px 10px;
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        padding: 1rem;
        border: solid 0.1rem black;
    
    }
    
    .project-picture-portrait {
        grid-row-start: 0;
        grid-row-end: span 4;
    }
    
    .Project-Grid li img {
        width: 100%;
        height: auto;
        background-size: contain;
    }



    .skills-bar-ul {
        display: grid;
        list-style-type: none;
        grid-gap: 0.75rem 2rem;
        grid-template-columns: 6rem 6rem 6rem;
        grid-template-rows: 3rem 2.5rem 3rem 2.5rem 3rem 2.5rem;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        grid-auto-flow: column;
    } 

}

@media only screen and (max-width: 361px) {


    .What-I-Think-I-Look-Like-Image {
        background-image: url('../img/Me/res-mipmap/mipmap-xxxhdpi/Generic-Superhero-One.png');
        flex-basis: 50%;
        border-radius: 5%;
        background-size: contain;
        background-repeat: no-repeat;

    }


    .What-I-Actually-Look-Like-Image {
        background-image: url('../img/Actual-Me/res-mipmap/mipmap-xxxhdpi/Actual Me Anon.jpg');
        flex-basis: 50%;
        border-radius: 5%;
        background-size: contain;
        background-repeat: no-repeat;

    }

    .Project-Grid {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px 10px;
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        padding: 1rem;
        border: solid 0.1rem black;
    
    }



    .skills-bar-ul {
        display: grid;
        list-style-type: none;
        grid-gap: 0.75rem 1.0rem;
        grid-template-columns: 6rem 6rem 6rem;
        grid-template-rows: 3rem 2.5rem 3rem 2.5rem 3rem 2.5rem;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        grid-auto-flow: column;
    } 



}